.circle {
    width:250px;
    height:250px;
    border-radius:150px;
    display:block;
    margin:auto;
}
.title{
    font-family: 'Roboto Mono', sans-serif;
}
.sub-title{
    font-family: 'Oswald', sans-serif;
    color: #34675C;
}
body{
    font-family: 'Roboto', sans-serif;
}