.circle {
    width:250px;
    height:250px;
    border-radius:150px;
    position :relative !important; 
    left: 40% !important;
}
.title{
    font-family: 'Roboto Mono', sans-serif;
}
.sub-title{
    font-family: 'Oswald', sans-serif;
    color: #34675C;
}