<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140159414-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140159414-1');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="Sito Personal con portafolio y resumen">
    <title>Herramientas</title>
</head>
<body>
    <div id="app">
        <header>
            <Options/>
        </header>
        <main>
            <div style="padding-top: 60px;">
                <div class="container">
                    <div class="row text-center mt-5">
                        <div class="col"><strong>Avanzados</strong></div>
                    </div>
                    <br>
                    <div class="row">
                        <div  class="col" v-for="(lang, index) in getLang('Advanced')" :key="index">{{ lang.name }}</div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col"><strong>Intermedios</strong></div>
                    </div>
                    <br>
                    <div class="row">
                        <div  class="col" v-for="(lang, index) in getLang('Intermediate')" :key="index">{{ lang.name }}</div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col"><strong>Basicos</strong></div>
                    </div>
                    <br>
                    <div class="row">
                        <div  class="col" v-for="(lang, index) in getLang('Basics')" :key="index">{{ lang.name }}</div>
                    </div>
                </div>
            </div>
        </main>
        <Foot/>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>